#Backend Files 
hardhat/node_modules
hardhat/package.json     
hardhat/package-lock.json  

# Hardhat files
hardhat/cache
hardhat/artifacts
# solidity-coverage files
hardhat/coverage
hardhat/coverage.json

hardhat/ignition

# Frontend build/cache
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/*.log
frontend/logs